DATABASE_URL=postgresql://mobibix@localhost:5432/mobibix_db
AUTH_MODE=local
MB_CLOUD_URL=https://api.mobibix.in/v1
MB_API_KEY=your-api-key
MB_TELEMETRY_ENABLED=true
PORT=3000
REDIS_URL=redis://localhost:6379